@import '../../../app.component';

.ticker-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $ghost-white;
  background-color: $international-orange;
  margin-top: 5px;
  min-width: 700px;

  h2 {
    font-size: 2em;
    text-align: center;
  }

  .games {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 1px;

    .game {
      display: flex;
      background-color: $dark-imperial-blue;
      margin: 5px;
      padding: 5px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
      }
    }
  }
}